<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/defStyle.css">
    <link rel="stylesheet" href="../static/styles/homeStyle.css">
    <title>Home</title>
</head>
<body>
<header id="siteHeader" class="siteHeader">
    <div class="container siteHeader__container">
        <nav class="siteHeader__navbar">
            <div class="siteHeader__imageBox scaleAnim">
                <a>
                    <img class="siteHeader__image" src="../static/images/logo.png" alt="site logo">
                </a>
            </div>
            <ul class="siteHeader__ul">
                <li class="siteHeader__li scaleAnim textAnim">
                    <a class="siteHeader__link" href="/users">
                        <p class="siteHeader__text">Users</p>
                    </a>
                </li>
                <li class="siteHeader__li scaleAnim textAnim">
                    <a class="siteHeader__link" href="/about">
                        <p class="siteHeader__text">About</p>
                    </a>
                </li>
                <li class="siteHeader__li scaleAnim textAnim">
                    <a class="siteHeader__link" href="/contact">
                        <p class="siteHeader__text">Contact Us</p>
                    </a>
                </li>
            </ul>
            <div class="siteHeader__linksBox scaleAnim">
                <a>
                    <img src="../static/images/login.svg" alt="login svg img">
                </a>
            </div>
        </nav>
    </div>
</header>
<main id="siteMain" class="siteMain">
    <section id="siteHero" class="siteHero">
        <div class="siteHero__container container">
            <div class="siteHero__textBox">
                <h1 class="siteHero__title">
                    💻✨📚<br>
                    International Finance Professional School
                </h1>
                <p class="siteHero__text">
                    школа, объединяющая традиции и современные технологии. Удобная цифровая платформа для родителей,
                    учителей и администраторов с акцентом на прозрачность и комфорт.
                </p>
                <button class="siteHero__btn">Узнать больше!</button>
            </div>
        </div>
    </section>

    <section id="siteStudents" class="siteStudents">
        <div class="siteStudents__container container">
            <div class="siteStudents__textBox">
                <h1 class="siteStudents__title">Студенты</h1>
                <p class="siteStudents__text">Оцените студентов нашей школы</p>
            </div>
            <ul class="siteStudents__list">
                <li class="siteStudents__item">
                    <a href="/students">
                        <div class="siteStudents__studentBox">
                            <div class="studentBox__imgBox">
                                <img src="../static/images/student.jpg" alt="Student photo">
                            </div>
                            <div class="studentBox__textBox">
                                <h1 class="studentBox__title">Student</h1>
                                <p class="studentBox__text">9 A</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="siteStudents__item">
                    <a href="/students">
                        <div class="siteStudents__studentBox">
                            <div class="studentBox__imgBox">
                                <img class="studentBox__img" src="../static/images/student.jpg" alt="Student photo">
                            </div>
                            <div class="studentBox__textBox">
                                <h1 class="studentBox__title">Student</h1>
                                <p class="studentBox__text">9 A</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="siteStudents__item">
                    <a href="/students">
                        <div class="siteStudents__studentBox">
                            <div class="studentBox__imgBox">
                                <img class="studentBox__img" src="../static/images/student.jpg" alt="Student photo">
                            </div>
                            <div class="studentBox__textBox">
                                <h1 class="studentBox__title">Student</h1>
                                <p class="studentBox__text">9 A</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="siteStudents__item">
                    <a href="/students">
                        <div class="siteStudents__studentBox">
                            <div class="studentBox__imgBox">
                                <img class="studentBox__img" src="../static/images/student.jpg" alt="Student photo">
                            </div>
                            <div class="studentBox__textBox">
                                <h1 class="studentBox__title">Student</h1>
                                <p class="studentBox__text">9 A</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="siteStudents__item">
                    <a href="/students">
                        <div class="siteStudents__studentBox">
                            <div class="studentBox__imgBox">
                                <img class="studentBox__img" src="../static/images/student.jpg" alt="Student photo">
                            </div>
                            <div class="studentBox__textBox">
                                <h1 class="studentBox__title">Student</h1>
                                <p class="studentBox__text">9 A</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="siteStudents__item">
                    <a href="/students">
                        <div class="siteStudents__studentBox">
                            <div class="studentBox__imgBox">
                                <img class="studentBox__img" src="../static/images/student.jpg" alt="Student photo">
                            </div>
                            <div class="studentBox__textBox">
                                <h1 class="studentBox__title">Student</h1>
                                <p class="studentBox__text">9 A</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="siteStudents__item">
                    <a href="/students">
                        <div class="siteStudents__studentBox">
                            <div class="studentBox__imgBox">
                                <img class="studentBox__img" src="../static/images/student.jpg" alt="Student photo">
                            </div>
                            <div class="studentBox__textBox">
                                <h1 class="studentBox__title">Student</h1>
                                <p class="studentBox__text">9 A</p>
                            </div>
                        </div>
                    </a>
                </li>
                <li class="siteStudents__item">
                    <a href="/students">
                        <div class="siteStudents__studentBox">
                            <div class="studentBox__imgBox">
                                <img class="studentBox__img" src="../static/images/student.jpg" alt="Student photo">
                            </div>
                            <div class="studentBox__textBox">
                                <h1 class="studentBox__title">Student</h1>
                                <p class="studentBox__text">9 A</p>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </section>
</main>
<footer>

</footer>
</body>
</html>
