<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/defStyle.css">
    <link rel="stylesheet" href="../static/styles/homeStyle.css">
    <title>Home</title>
</head>
<body>
<header id="siteHeader" class="siteHeader">
    <div class="container siteHeader__container">
        <nav class="siteHeader__navbar">
            <div class="siteHeader__imageBox scaleAnim">
                <a>
                    <img class="siteHeader__image" src="../static/images/logo.png" alt="site logo">
                </a>
            </div>
            <ul class="siteHeader__ul">
                <li class="siteHeader__li scaleAnim textAnim">
                    <a class="siteHeader__link" href="/users">
                        <p class="siteHeader__text">Users</p>
                    </a>
                </li>
                <li class="siteHeader__li scaleAnim textAnim">
                    <a class="siteHeader__link" href="/about">
                        <p class="siteHeader__text">About</p>
                    </a>
                </li>
                <li class="siteHeader__li scaleAnim textAnim">
                    <a class="siteHeader__link" href="/contact">
                        <p class="siteHeader__text">Contact Us</p>
                    </a>
                </li>
            </ul>
            <div class="siteHeader__linksBox scaleAnim">
                <a>
                    <img src="../static/images/login.svg" alt="login svg img">
                </a>
            </div>
        </nav>
    </div>
</header>
<main id="siteMain" class="siteMain">
    <section id="siteHero" class="siteHero">
        <div class="siteHero__container container">
            <div class="siteHero__textBox shadowAnim">
                <h1 class="siteHero__title">
                    💻✨📚<br>
                    International Finance Professional School
                </h1>
                <p class="siteHero__text">
                    Школа, объединяющая традиции и современные технологии. Удобная цифровая платформа для родителей,
                    учителей и администраторов с акцентом на прозрачность и комфорт.
                </p>
                <button class="siteHero__btn">Узнать больше!</button>
            </div>
        </div>
    </section>

    <section id="sitePrinciples" class="sitePrinciples">
        <div class="sitePrinciples__container container">
            <div class="sitePrinciples__textBox">
                <div class="textBox__nameBox">
                    <h1 class="nameBox__title">Al-Jabr IFPS: Формируем лидеров с глобальной финансовой перспективой</h1>
                    <p class="nameBox__text">Образование с фокусом на практическую специализацию, лидерство и
                        индивидуальный подход</p>
                </div>
                <div class="textBox__benefitsBox">
                    <h2 class="benefitsBox__text">Обширный охват: Студенты со всего Узбекистана в единой образовательной
                        среде</h2>
                    <h2 class="benefitsBox__text">Практический подход: Программы для реальных задач в финансовой
                        сфере</h2>
                    <h2 class="benefitsBox__text">Индивидуальный фокус: Подход к каждому для раскрытия потенциала</h2>
                    <h2 class="benefitsBox__text">Лидерство: Подготовка ответственных лидеров для общества</h2>
                </div>
                <div class="textBox__btnBox">
                    <button class="btnBox__btn">
                        Узнать больше!
                    </button>
                </div>
            </div>
            <div class="sitePrinciples__imgBox scaleAnim">
                <img class="imgBox__img" src="../static/images/sitePrinciplesImg.png" alt="site principles background">
            </div>
        </div>
    </section>

    <section id="siteStudents" class="siteStudents">
        <div class="siteStudents__container container">
            <div class="siteStudents__textBox">
                <h1 class="siteStudents__title">Студенты</h1>
                <p class="siteStudents__text">Оцените студентов нашей школы</p>
            </div>
            <div class="siteStudents__studentsList">
                <ul class="studentsList__studentsBox">
                    <li class="siteStudents__item">
                        <a href="/students">
                            <div class="siteStudents__studentBox">
                                <div class="studentBox__imgBox">
                                    <img src="../static/images/student.jpg" alt="Student photo">
                                </div>
                                <div class="studentBox__textBox">
                                    <h1 class="studentBox__title">Student</h1>
                                    <p class="studentBox__text">9 A</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="siteStudents__item">
                        <a href="/students">
                            <div class="siteStudents__studentBox">
                                <div class="studentBox__imgBox">
                                    <img class="studentBox__img" src="../static/images/student.jpg" alt="Student photo">
                                </div>
                                <div class="studentBox__textBox">
                                    <h1 class="studentBox__title">Student</h1>
                                    <p class="studentBox__text">9 A</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="siteStudents__item">
                        <a href="/students">
                            <div class="siteStudents__studentBox">
                                <div class="studentBox__imgBox">
                                    <img class="studentBox__img" src="../static/images/student.jpg" alt="Student photo">
                                </div>
                                <div class="studentBox__textBox">
                                    <h1 class="studentBox__title">Student</h1>
                                    <p class="studentBox__text">9 A</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="siteStudents__item">
                        <a href="/students">
                            <div class="siteStudents__studentBox">
                                <div class="studentBox__imgBox">
                                    <img class="studentBox__img" src="../static/images/student.jpg" alt="Student photo">
                                </div>
                                <div class="studentBox__textBox">
                                    <h1 class="studentBox__title">Student</h1>
                                    <p class="studentBox__text">9 A</p>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
                <ul class="studentsList__studentsBox">
                    <li class="siteStudents__item">
                        <a href="/students">
                            <div class="siteStudents__studentBox">
                                <div class="studentBox__imgBox">
                                    <img class="studentBox__img" src="../static/images/student.jpg" alt="Student photo">
                                </div>
                                <div class="studentBox__textBox">
                                    <h1 class="studentBox__title">Student</h1>
                                    <p class="studentBox__text">9 A</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="siteStudents__item">
                        <a href="/students">
                            <div class="siteStudents__studentBox">
                                <div class="studentBox__imgBox">
                                    <img class="studentBox__img" src="../static/images/student.jpg" alt="Student photo">
                                </div>
                                <div class="studentBox__textBox">
                                    <h1 class="studentBox__title">Student</h1>
                                    <p class="studentBox__text">9 A</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="siteStudents__item">
                        <a href="/students">
                            <div class="siteStudents__studentBox">
                                <div class="studentBox__imgBox">
                                    <img class="studentBox__img" src="../static/images/student.jpg" alt="Student photo">
                                </div>
                                <div class="studentBox__textBox">
                                    <h1 class="studentBox__title">Student</h1>
                                    <p class="studentBox__text">9 A</p>
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="siteStudents__item">
                        <a href="/students">
                            <div class="siteStudents__studentBox">
                                <div class="studentBox__imgBox">
                                    <img class="studentBox__img" src="../static/images/student.jpg" alt="Student photo">
                                </div>
                                <div class="studentBox__textBox">
                                    <h1 class="studentBox__title">Student</h1>
                                    <p class="studentBox__text">9 A</p>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <section id="siteReviews" class="siteReviews">
        <div class="siteReviews__container container">
            <div class="siteReviews__textBox">
                <h1 class="siteReviews__title">Отзывы</h1>
                <p class="siteReviews__text">Несколько цитат наших счастливых клиентов</p>
            </div>
            <div class="siteReviews__customersBox">
                <a class="customersBox__customerLink" href="#siteReviews">
                    <div class="customersBox__customer scaleAnim shadowAnim">

                        <img class="customer__logo" src="../static/images/logo.png" alt="customer logo">
                        <img class="customer__rating" src="../static/images/rating.svg" alt="customer given rating">
                        <h2 class="customer__review">"Рекомендую для всех!"</h2>
                        <p class="customer__name">Behaplayer</p>

                    </div>
                </a>
                <a class="customersBox__customerLink" href="#siteReviews">
                    <div class="customersBox__customer scaleAnim shadowAnim">
                        <img class="customer__logo" src="../static/images/logo.png" alt="customer logo">
                        <img class="customer__rating" src="../static/images/rating.svg" alt="customer given rating">
                        <h2 class="customer__review">"Рекомендую для всех!!"</h2>
                        <p class="customer__name">Behaplayer</p>

                    </div>
                </a>
                <a class="customersBox__customerLink" href="#siteReviews">
                    <div class="customersBox__customer scaleAnim shadowAnim">

                        <img class="customer__logo" src="../static/images/logo.png" alt="customer logo">
                        <img class="customer__rating" src="../static/images/rating.svg" alt="customer given rating">
                        <h2 class="customer__review">"Рекомендую для всех!!"</h2>
                        <p class="customer__name">Behaplayer</p>

                    </div>
                </a>
            </div>
        </div>
    </section>
</main>
<footer id="siteFooter" class="siteFooter">
    <span class="siteFooter__topLine"></span>
    <div class="siteFooter__container container">
        <div class="siteFooter__infoBox">
            <div class="infoBox__imgBox scaleAnim">
                <img class="infoBox__img" src="../static/images/BPTeam.png" alt="Behaplayer team logo svg">
            </div>
            <h2 class="infoBox__text">Made with 💜 by Behaplayer team</h2>
        </div>
        <div class="siteFooter__navigationBox">
            <ul class="navigationBox__list">
                <li class="navigationBox__item">
                    <a class="navigationBox__link" href="#siteHeader">
                        <h3 class="navigationBox__title">About</h3>
                    </a>
                </li>
                <li class="navigationBox__item">
                    <a class="navigationBox__link" href="#siteHeader">
                        <p class="navigationBox__text">Most searched</p>
                    </a>
                </li>
                <li class="navigationBox__item">
                    <a class="navigationBox__link" href="#siteHeader">
                        <p class="navigationBox__text">Privacy Policies</p>
                    </a>
                </li>
                <li class="navigationBox__item">
                    <a class="navigationBox__link" href="#siteHeader">
                        <p class="navigationBox__text">Terms And Conditions</p>
                    </a>
                </li>
            </ul>
            <ul class="navigationBox__list">
                <li class="navigationBox__item">
                    <a class="navigationBox__link" href="#siteHeader">
                        <h3 class="navigationBox__title">About</h3>
                    </a>
                </li>
                <li class="navigationBox__item">
                    <a class="navigationBox__link" href="#siteHeader">
                        <p class="navigationBox__text">Most searched</p>
                    </a>
                </li>
                <li class="navigationBox__item">
                    <a class="navigationBox__link" href="#siteHeader">
                        <p class="navigationBox__text">Privacy Policies</p>
                    </a>
                </li>
                <li class="navigationBox__item">
                    <a class="navigationBox__link" href="#siteHeader">
                        <p class="navigationBox__text">Terms And Conditions</p>
                    </a>
                </li>
            </ul>
            <ul class="navigationBox__list">
                <li class="navigationBox__item">
                    <a class="navigationBox__link" href="#siteHeader">
                        <h3 class="navigationBox__title">About</h3>
                    </a>
                </li>
                <li class="navigationBox__item">
                    <a class="navigationBox__link" href="#siteHeader">
                        <p class="navigationBox__text">Most searched</p>
                    </a>
                </li>
                <li class="navigationBox__item">
                    <a class="navigationBox__link" href="#siteHeader">
                        <p class="navigationBox__text">Privacy Policies</p>
                    </a>
                </li>
                <li class="navigationBox__item">
                    <a class="navigationBox__link" href="#siteHeader">
                        <p class="navigationBox__text">Terms And Conditions</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</footer>
</body>
</html>
