<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/defStyle.css">
    <link rel="stylesheet" href="/styles/homeStyle.css">
    <title>Home</title>
</head>
<body>
    <header id="siteHeader" class="siteHeader">
        <div class="container siteHeader__container">
            <nav class="siteHeader__navbar">
                <div class="siteHeader__imageBox scaleAnim">
                    <a>
                        <img class="siteHeader__image" src="/images/logo.png" alt="site logo">
                    </a>
                </div>
                <ul class="siteHeader__ul">
                    <li class="siteHeader__li scaleAnim textAnim">
                        <a class="siteHeader__link" href="/users">
                            <p class="siteHeader__text">Users</p>
                        </a>
                    </li>
                    <li class="siteHeader__li scaleAnim textAnim">
                        <a class="siteHeader__link" href="/about">
                            <p class="siteHeader__text">About</p>
                        </a>
                    </li>
                    <li class="siteHeader__li scaleAnim textAnim">
                        <a class="siteHeader__link" href="/contact">
                            <p class="siteHeader__text">Contact Us</p>
                        </a>
                    </li>
                </ul>
                <div class="siteHeader__linksBox scaleAnim">
                    <a>
                        <img src="../static/images/login.svg" alt="login svg img">
                    </a>
                </div>
            </nav>
        </div>
    </header>
    <main id="siteMain" class="siteMain">
        <section id="siteHero" class="siteHero">
            <div class="siteHero__container container">
                <div class="siteHero__textBox">
                    <h1 class="siteHero__title">
                        🌱<br>
                        The nature candle
                    </h1>
                    <p class="siteHero__text">
                        All handmade with natural soy wax, Candleaf is a companion for all your pleasure moments
                    </p>
                    <button class="siteHero__btn">Discovery our collection</button>
                </div>
            </div>
        </section>
    </main>
    <footer>

    </footer>
</body>
</html>
