@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Akatab:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --green: #56b280;
    --black: #272727;
    --white: #fff;
    --brand: #0f4a6c;
    --font-family: "Montserrat", sans-serif;
    --second-family: "Rubik", sans-serif;
    --third-family: "Nunito", sans-serif;
    --font3: "Avenir", sans-serif;
}

body {
    background-color: var(--white);
}

/* Site Header */

#siteHeader {
    background-color: var(--brand);
}

.siteHeader__navbar {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.siteHeader__imageBox {
    max-width: 150px;
    margin-right: -90px;
}

.siteHeader__image {
    border-radius: 50%;
}

.siteHeader__ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
    text-align: center;
}

.siteHeader__li {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: var(--white);
}

.siteHeader__linksBox {
    max-width: 32px;
    display: flex;
    align-items: center;
}

/* Site Main */

#siteMain {
    position: relative;
}

/* Site Hero */

.siteHero {
    background-image: url("../images/heroSectionBgImage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0 0 100px;
}

.siteHero__textBox {
    margin: 100px 0;
    padding: 48px 96px;
    display: flex;
    flex-direction: column;
    backdrop-filter: blur(12px);
    background: rgba(240, 245, 250, 0.6);
    gap: 25px;
    border-radius: 32px;
    align-items: center;
}

.siteHero__title {
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 40px;
    line-height: 144%;
    text-align: center;
    color: #1d252c;
    width: 540px;
}

.siteHero__text {
    font-family: var(--third-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 142%;
    text-align: center;
    color: #1d252c;
    width: 650px;
}

.siteHero__btn {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    color: var(--white);
    border-radius: 5px;
    padding: 8px 45px;
    background-color: var(--brand);
    width: 310px;
    margin: 0 auto;
}

.siteHero__btn:hover{
    transform: scale(1.05);
    background-color: #155d8a;
}

.siteHero__btn:active{
    transform: scale(1);
    background-color: #0c3a54;
}

/* Site Students */

.siteStudents__textBox{
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    margin-bottom: 80px;
}

.siteStudents__title{
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 40px;
}

.siteStudents__text{
    font-family: var(--second-family);
    font-weight: 500;
    font-size: 18px;
    line-height: 153%;
    letter-spacing: 0.01em;
    opacity: 0.5;
}

.siteStudents__list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.siteStudents__item{
    text-align: center;
    max-width: 250px;
}

.siteStudents__item:hover{
    transform: scale(1.05);

}
